*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

body{
    text-align: center;

}

.contenedor{
    margin: auto;
    background-color: lemonchiffon;
    width: 900px;
    height: 600px;
    border: 5px solid black;
}

h1{
    padding-top: 20px;
}

.nombre{
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.nombre input{
    width: 420px;
    height: 25px;
    margin-left: 20px;
}

.fechaNacimiento{
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
}

.fechaNacimiento input{
    width: 150px;
    margin-left: 20px;
    height: 25px;
}

.LugarNacimiento{
    font-weight: bold;
    text-align: right;
    margin-top: -155px;
    padding-right: 202px;
    margin-bottom: 100px;
}

.LugarNacimiento select{
    width: 155px;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 25px;
}

.poblacion{
    font-weight: bold;
    text-align: left;
    float:right;
    margin-top: -171px;
    margin-right: 5px;
}

.poblacion input{
    margin: 5px;
    height: 23px;
}

.idiomas{
    text-align: left;
    float: right;
    margin-top: -100px;
    padding-right: 40px;
    margin-right: 60px;
}

.idiomas li{
    
    width: 500px;
    height: 70px;
    background-color: rgb(1, 1,1, .10);
    list-style: none;
    display: ruby-base-container;
}

.idiomas input{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 15px;

}

.sexo{
    text-align: left;
    padding-left: 20px;
    padding-top: 30px;
    width: 240px;
}

.sexo li{
    width: 265px;
    height: 60px;
    background-color:  rgb(1, 1,1, .10);
    list-style: none;
}

.sexo input{
    margin-top: 20px;
    margin-left: 20px;
}

.correo{
    margin-top: -30px;
    margin-left: -19px;
    width: 210px;
    float: left;
    height: 250px;
    color: black;
}
.correo input{
        margin-top: 3px;
        margin-left: 40px;
        width: 250px;
        float: left;
        height: 23px;
        color: black;
    
}

.egresoPrimaria{
    float: left;
    text-align: left;
    margin-top: -180px;
    padding-top: 20px;
    padding-right: 400px;
    padding-left: 20px;
    font-weight: bold;
}

.egresoPrimaria input{
    margin-top: 10px;
    width: 180px;
    height: 23px;
    margin-left: 50px;
}

.habitos{
    margin-right: 20px;
    text-align: left;
    float: right;
    margin-top: -230px;
    font-weight: bold;
}

.habitos textarea{
    width: 450px;
}

.ingresos{
    text-align: center;
    float: left;
    margin-top: -40px;
    margin-left: 5px;
    font-weight: bold;
}

.ingresos input{
    margin-top: 20px;
    margin-left: 28px;
    width: 320px;
}

.horario{
    font-weight: bold;
    margin-right: 100px;
    float: right;
    margin-top: 5px;
}

.horario input{
    height: 23px;
    margin-top: 10px;
    max-width: 45px;
}



#botones{
    margin-top: 180px;
    height: 30px;
    width: 80px;
}
.botonUno{
 
    margin-left: 116px;
}
#listaIngresos{
    font-size: 11px;
    margin-left: 30px;
}