/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-image: url(/img/nflfoto2.jpg);
    color: white;
    text-align: justify;
    font-family: monospace;
    
}

/* Selecto de Clases */
.texto {
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: |5px;
    padding: 25px 25px;
    color: white;
}

img {
    width: 300px;
    height: 180px;
    border: 2px solid;
    margin: 0 5px;
    justify-items: center;
}

.encabezado-articulo {
    padding: 18px;
    text-align: center;
    background-color: #564d4538;
    color: rgb(255, 255, 255);
    margin: 1em 4em;
    border-radius: 75px;
}

.encabezado-aside {
    padding: 50px 10px;
    text-align: center;
    background-color:  ;
    color: white;
    margin: 1em 1em;
    border-radius: 45px;
    
}

.menu-aside {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 25px 25px;
}

.lista-aside {
    padding: 0.5px;
}

.lista-aside li {
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: white;
}

.textDecoration{
    text-decoration: underline;
    color: darkblue;
}

.guionColor{
    color: #9EDDFF;
}
/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: rgba(0, 0, 141, 0.618);
    max-width: 0 auto;
    border-radius: 10px;
}

#encabezado {
    height: 15%;
    width: 30%;
    background-color: #c70038a8;
    margin: 1em;
    border-radius: 15px;
    padding: 0px 303px;
}

#menu {
    height: 5%;
    background-color: #c70038ba;
    margin: 1em;
    border-radius: 5px;


}

#contenido {
    height: 500%;
    width: 50%;
    background-color: #6499e9bd ;
    margin: 0.5em;
    display: inline-table;
    text-align: center;

}

#fueraSeccion {
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: #6499e9d1;
}

#pie {
    height: 10%;
    background-color: #6499E9;
    margin: 0.5em;
    text-align: center;
    padding: 5px;
}

.img-aside{
    width: 300px;
    height: 160px;
    border-radius: 120px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    padding-top: 15px;
}

li {
    display: inline;
    margin: 5px;
}

li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}